/* .container{
    border: dashed 2px green;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}
.box{
    border: solid 2px tomato;
    padding: 15px;
    margin-bottom: 20px; */
    /* padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    margin: 20px; */
    /* width: 600px;} */
    /* p{
        margin: bottom 30px; ;
    }
    .link{
        border: solid 2px tomato;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    } */
    
.block{
    border: solid 2px pink;
    width: 600px;;
    margin-left: auto;
    margin-right: auto;
}
.lorem :nth-child(2n){
    background-color: red;
}
.lorem{
    margin-left: auto;
    margin-right: auto;
    width: 500px; 
    list-style: none;
}
li{
    border: double 1px blue;
    margin: 15px;
    margin-bottom: 15px;
   
}
p{
    padding: 10px;
}